/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar */
.main-navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.main-navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.main-navbar ul li {
    margin: 0 20px;
}

.main-navbar a {
    text-decoration: none;
    color: #fff;
}

/* Estilos para a seção de produtos */
.products-section {
    text-align: center;
    padding: 20px;
}

.product-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.product-cart {
    border: 1px solid #ddd;
    padding: 10px; /* Diminuindo o padding */
    text-align: center;
    background-color: #fff;
    transition: transform 0.2s;
    height: 100%; /* Alterando a altura */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centralizando os itens */
}

.product-cart:hover {
    transform: translateY(-5px);
}

.product-cart img {
    max-width: 100%;
    height: auto;
    max-height: 120px; /* Definindo uma altura máxima para as imagens */
    margin-bottom: 10px;
}

.product-price {
    font-weight: bold;
    color: #e44d26;
}

.remove-from-cart {
    background-color: #e44d26;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.remove-from-cart:hover {
    background-color: #d9381e;
}

.payment-section {
    text-align: center;
    padding: 20px;
}

.payment-options select {
    padding: 5px;
    border: 1px solid #ddd;
}

#pix-qrcode{
    width: 140px;
    height: 140px;

}

/* Rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 8px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


