/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: px;
    text-align: center;
}




/* Navbar */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    margin: 0 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

/* Estilos para os cards de categorias */
.categories {
    text-align: center;
    padding: 20px;
}

.category-container {
    max-width: 960px;
    /* Largura máxima do contêiner */
    margin: 0 auto;
    /* Centralizar o contêiner na tela */
}

.category-grid {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Centraliza os elementos horizontalmente */
}

.category-card {
    border: 1px solid #ddd;
    padding: 0;
    /* Remova o preenchimento */
    text-align: center;
    text-decoration: none;
    width: 200px;
    /* Largura fixa para os cards */
    height: 50px;
    /* Altura fixa para os cards */
    overflow: hidden;
    /* Oculta conteúdo que ultrapassa a altura/largura fixa */
    color: #333;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Centraliza verticalmente */
}

.category-card:hover {
    background-color: #f5f5f5;
}

/* Conteúdo dentro dos cards */
.category-card img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    /* Mantém a proporção da imagem e preenche todo o espaço */
}



/* Carrossel */
.product-carousel {
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    margin-bottom: 50px;
    width: 100%;
}

.product-slide {
    flex: 0 0 calc(33.33% - 20px);
    margin-right: 20px;
    /* height: 300px; Remova a altura fixa */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.product-slide .product-card {
    flex-grow: 1;
    /* Faz o card ocupar o espaço disponível */
}

.product-slide img {
    max-width: 100%;
    max-height: 80%;
    /* Altura máxima para a imagem */
    margin: auto;
    display: block;
}

.product-card {
    /*border: 1px solid #ddd;*/
    padding: 20px;
    text-align: center;
}

.product-card img {
    max-width: 100%;
    height: auto;
}

/* Estilos para a seção de produtos */
.products {
    text-align: center;
    padding: 20px;
    margin-bottom: 5px;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between; /* Espaço entre os cards */
    margin: 0 auto;
    max-width: 1200px; /* Largura máxima para manter os cards alinhados */
}

.product-card {
    border: 1px solid #ddd;
    background-color: #fff;
    transition: transform 0.2s;
    flex: 0 0 calc(10.33% - 10px); /* 33.33% - o espaço de 20px entre os cards */
    min-width: 300px; /* Largura mínima para manter os cards legíveis */
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Alinhar botões e informações na parte inferior */
}

.product-card h3,
.product-card p {
    margin: 0;
    padding: 5px 0;
}

.product-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.price {
    font-weight: bold;
    color: #e44d26;
}

.add-to-cart {
    background-color: #e44d26;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #d9381e;
}

.cart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
}


/* Rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    margin-top: 262px;
    padding: 8px;
}

.cart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
}