/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    margin: 0 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

/* Cards de categorias */
.category-card {
    display: block;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
}

.category-card:hover {
    background-color: #f5f5f5;
}


/* Carrossel */
.product-carousel {
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
}

.product-slide {
    flex: 0 0 calc(33.33% - 20px);
    /* 3 cards por linha com espaçamento */
    margin-right: 20px;
    height: 300px;
    /* Altura fixa para os slides do carrossel */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-slide .product-card {
    flex-grow: 1;
    /* Faz o card ocupar o espaço disponível */
}

.product-slide img {
    max-width: 100%;
    max-height: 80%;
    /* Altura máxima para a imagem */
    margin: auto;
    display: block;
}

.product-card {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
}

.product-card img {
    max-width: 100%;
    height: auto;
}

/* Estilos para a seção de produtos */
.products {
    text-align: center;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Três colunas lado a lado */
    gap: 20px;
    /* Espaçamento entre os cards */
}

.price {
    font-weight: bold;
    color: #e44d26;
}

.add-to-cart {
    background-color: #e44d26;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #d9381e;
}